:root{
    background-image: url("https://i.ebayimg.com/images/g/q94AAOSw68Zch50g/s-l1600.jpg");
    background-size: cover;
    font-size: 62.5%;
}

.hide {
    display: none !important;
}

* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    
}

body {
    height: 100vh;
    width: 100vw;
}
    


.title {
    color: transparent;
    display: flex;
    font-size: 4rem;
    justify-content: center;
    letter-spacing: 3px;
    margin: 2% 0px;
    text-shadow: 0px -3px 3px rgb(205, 47, 74), 3px 0 1px rgb(120, 168, 240);
  
}

.score-timer{
align-items: center;
background-color: rgba(231, 255, 255, 0.847);
border-radius: 30px 30px 0px 0px;
color: rgb(0, 3, 22);
color: black;
display: flex;
font-size: 2.7rem;
/* flex-direction: column; */
justify-content: space-evenly;
line-height: 1.5;
margin-left: 15vw;
margin-top: 8%;
width: 70vw;
}

.count {
    color: rgb(197, 1, 1);
}

.container {
    background-color: rgba(231, 255, 255, 0.847);
    align-items: center;
    color: rgb(0, 3, 22);
    display: flex;
    font-size: 2.7rem;
    /* flex-direction: column; */
    justify-content: space-evenly;
    line-height: 1.5;
    width: 70vw;
    margin-left: 15vw;

}


#high-score-html {
    color: rgb(197, 1, 1);
    text-decoration: none;
}
#high-score-html:hover{
    color: rgb(101, 0, 0);
    
}


.directions {
    display: flex;
    font-size: 2.5rem;
    justify-content: center;
    line-height: 1.2;
    margin: 5% 4%;

}

.start-game {
    align-items: center;
    background-color: rgba(186, 233, 233, 0.847);
    border-radius: 0px 0px 30px 30px;
    display: flex;
    justify-content: center;
    margin-left: 15vw;
    width: 70vw;
}

.start-button {
    background-color: rgb(201, 247, 255);
    border: 1px solid rgb(171, 171, 171);
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgb(92, 92, 92);
    cursor: pointer;
    font-size: 2rem;
    height: 70px;
    margin-bottom: 3px;
    margin-top: 3px;
    width: 170px;
}

.start-button:hover {
    background-color: rgb(168, 242, 255);
}

.start-button:active {
    background-color: rgb(115, 221, 240);
    box-shadow: 2px 2px 10px white;
}

.game {
    align-items: center;
    background-color: rgba(231, 255, 255, 0.847);
    border-radius: 0px 0px 30px 30px;
    color: rgb(0, 3, 22);
    display: flex;
    flex-direction: column;
    font-size: 2.7rem;
    justify-content: space-evenly;
    line-height: 1.5;
    margin-left: 15vw;
    padding-bottom: 1%;
    padding-top: 3%;
    width: 70vw;
}

#choices li{
    background-color: rgba(204, 241, 229, 0.84);
    border: 1px solid rgb(208, 208, 208);
    box-shadow: 2px 2px rgb(164, 164, 164);
    cursor: pointer;
    list-style: none;
    margin: 5px;
    padding: 7px;
    width: 65vw;
    
}

#choices li:hover {
    background-color: rgba(190, 255, 235, 0.883);
}

#choices li:active{
    background-color: rgba(174, 255, 229, 0.922);
    box-shadow: 0px 0px 10px rgb(255, 241, 241);
}

#choices li::selection {
    background: transparent;
}

#question{
    margin-bottom: 20px;
    text-align: start;
}

.enter-name{
    align-items: center;
    background-color: rgba(231, 255, 255, 0.847);
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 2;
    margin-left: 15vw;
    min-height: 30vh;
    width: 70vw;
}

.enter-name h2 {
    font-size: 3rem;
    
}

.enter-name p{
    font-size: 2rem;
    
}

#name-input {
    font-size: 2.5rem;
    margin-bottom: 10px;
    margin-top: 10px;
    min-height: 5vh;
    width: 30vw;
}

#submit-button {
    border-radius: 15px;
    box-shadow: 2px 2px 5px;
    cursor: pointer;
    font-size: 2.5rem;
    min-height: 7vh;
    width: 10vw;
}

#submit-button:hover {
    background-color: rgb(192, 192, 192);
}

#submit-button:active {
    background-color: grey;
    box-shadow: 2px 2px 5px white;
}


@media (max-width: 1000px){
    #submit-button{
        height: 7vh;
        width: 20vw;
    }
}


  @media (max-width: 540px) {
    /* styles for mobile devices */
    .title {
        font-size: 3rem;
    }
    #name-input{
        font-size: 1.7rem;
    }
    #submit-button{
        height: 5vh;
        width: 25vw;
    }

  }
  